* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.app {
  width: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  margin-top: 5px;
  background-color: rgb(235, 80, 3);
  margin-bottom: 5px;
  border-radius: 5px;
}

.logo {
  width: 100px;
}

.Nav-items ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.Nav-items ul li {
  font-size: 18px;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body .search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  padding: 10px;
}

/* .res-card {
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  overflow: hidden;
  margin-left: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.res-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.res-logo {
  width: 90%;
  height: 180px;
  object-fit: cover;
  /* display: block; */
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.res-logo:hover {
  border: 2px solid rgb(249, 157, 8);
}

.res-card h4 {
  margin-left: 15px;
  font-weight: 200;
  font-size: 12px;
}

.res-card h3 {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  background-color: rgb(255, 89, 11);
  height: auto;
  width: 200px;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
}
.filter-btn:hover {
  border: 2px solid yellow;
}

.shimmer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 90%;
  height: 180px;
  background-color: rgb(120, 115, 115);
  padding: 10px;
}

.login-btn {
  cursor: pointer;
}

.search {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  width: 500px;
}

.search-box {
  padding: 15px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(225, 225, 225);
  border: 2px solid black;
}

.search-btn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 89, 11);
  border: 2px solid black;
  font-size: 15px;
}

.search-btn:hover {
  border: 2px solid rgb(255, 186, 10);
  background-color: rgb(155, 16, 0);
}
